<p id="notice"><%= notice %></p>

<p>
  <strong>Ticketbox:</strong>
  <%= @ticket.ticketbox %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ticket.body %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @ticket.assigned_to %>
</p>

<p>
  <strong>Open:</strong>
  <%= @ticket.open %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
